body{
    padding:100px;
}
.full-login-page{

}
.login{
    box-shadow: 5px 5px 25px gray; 
    width: 1150px;
    padding: 50px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    
}
